# Build output
/project/out/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
Makefile

# Generic binaries and libraries
*.o
*.obj
*.a
*.so
*.dll
*.dylib
*.exe
*.out
*.bin
*.elf
*.map

# Logs
*.log

# Build folders (extra)
build/
build_local/
lib-ncnn/main/build/

# VSCode or IDE configs
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store

# Web receiver saved recordings
/tools/pc_receiver_js/recordings/
